<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sec.samsung.tvcontentsync">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".TvContentSyncApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.ActionBar.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SlideShowActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".VideoActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".AudioActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".MediaActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".SettingActivity"
            android:excludeFromRecents="true"
            android:label="@string/setting"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light" />

        <receiver
            android:name="com.sec.samsung.manager.BootReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.sec.samsung.schedule.ScheduleBroadcastReceiver" />
        <receiver android:name="com.sec.samsung.manager.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service android:name="com.sec.samsung.connect.CheckConnectService" />
        <service android:name="com.sec.samsung.schedule.SchedulerService" />

        <activity
            android:name=".SendLog"
            android:excludeFromRecents="true"
            android:textAppearance="@android:style/TextAppearance.Large"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="com.sec.samsung.tvcontentsync.SEND_LOG" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MediaPlayerActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"></activity>

        <service android:name="com.sec.samsung.manager.AliveService" />
        <service
            android:name="com.sec.samsung.download.DownloadService"
            android:enabled="true"
            android:label="@string/app_name" />

        <service
            android:name="com.sec.samsung.connect.PinkService"
            android:enabled="true"
            android:label="@string/app_name" />
    </application>

</manifest>